<?xml version="1.0" ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="plate">

    <link name="plate">
        <inertial>
            <origin xyz="0.0 0.0 0.004" rpy="0 0 0"/>
            <mass value="2.4"/>
            <inertia ixx="0.05" ixy="0.0" ixz="0.0" iyy="0.05" iyz="0.0" izz="0.1"/>
        </inertial>

        <visual>
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
            <geometry>
                <mesh filename="./meshes/plate_50cm.obj" scale="1 1 1"/>
            </geometry>
        </visual>

        <collision>
            <origin xyz="0.0 0.0 0.004" rpy="0.0 0.0 0.0"/>
            <geometry>
                <box size="0.5 0.5 0.008"/>
            </geometry>
        </collision>
    </link>

</robot>